/* header style for mobile */
header{
    justify-content: space-between;
    display: flex;
}

#topMenu{
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    background-color: #fff;
    padding: 3px;
}

h2, h3, h4, p{
    margin-bottom: 1em;
}

body{
    font-size: 1em;
    line-height: 1.5em;
}

#wrapper{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}