/* header style for mobile */
header{
    justify-content: space-between;
    display: flex;
    background:cornflowerblue;
}

#topMenu{
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    background:cornflowerblue;
    padding: 3px;
}

#topMenu ul li a {
    color:white;
    text-decoration: none;
}

h1 a{
    color:white;
    text-decoration: none;
}

h2 a, h3 a, h4 a, p a{
    margin-bottom: 1em;
    text-decoration: none;
}

body{
    font-size: 1em;
    line-height: 1.5em;
}

#wrapper{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* dropdown menu */

.searchPrograms{
    padding: 10px;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
}

.programNav ul{
    justify-content: space-between;
    
}

.programNav ul li{
    position:relative;
}

.programNav ul li:hover{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

nav li{
    list-style-type: none;
    border: solid 1px ;
    text-align: center;
}

nav li a{
    text-align: center;
    width: 300px;
    padding: 10px 0;
    display: block;
}

li:hover .dropdown li {
    background-color: rgb(181, 181, 181);
}

nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown{
    display:none;
    width: 100%;
}      

nav li:hover .dropdown{ /* Descendent order/hierarchy (the dropdown class within the li class within the nav */
    display:block;
}

.searchPrograms {
                    
          
    max-width: 1200px;         
    padding: 20px;     
    background:white;      
}


@media(min-width:768px){

    .topList {
        display:flex;
        max-width:1200px;
    }

    .programNav ul li{
        width:100;
        position:relative;
    }

}

/* desktop */
@media (min-width:768px){
    #topMenu{
        display: flex;
    }

    #topMenu ul{
        display: flex;
    }

    #topMenu li{
        margin-right: 1em; 
        border:none;
    }

    .show-menu{
        display:none;
    }

    
}

/* site content */

main.home{
    display:grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1em;
}

.programCards{
    display:grid;
    grid-template-columns: repeat(auto-fill, 285px);
    grid-gap:20px;
}

.program-card{
    max-width:70%;
    box-shadow: 10px 10px 7px grey;
    padding:1em;
    border:solid 1px black;
}

.program-card p{
    text-align: justify;
}

.responsive-img{
    max-width:100%;
}

footer{
    margin-top: 10px;
}

/* banner */

.banner{
    padding:2em;
    padding-top:4em;
    background: url("images/Queens-College-CUNY.jpg") no-repeat center left/cover;
    margin-bottom: 2em;
}

.banner h3{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    font-size: 2rem;
    line-height: 1.4em;
    color:white;
}

