/* header style for mobile */
header{
    justify-content: space-between;
    display: flex;
}

#topMenu{
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    background-color: #fff;
    padding: 3px;
}

h2, h3, h4, p{
    margin-bottom: 1em;
}

body{
    font-size: 1em;
    line-height: 1.5em;
}

#wrapper{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* dropdown menu */

.searchPrograms{
    padding: 10px;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
}

.programNav ul{
    justify-content: space-between;
    
}

.programNav ul li{
    position:relative;
}

.programNav ul li:hover{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

nav li{
    list-style-type: none;
    border: solid 1px ;
    text-align: center;
}

nav li a{
    text-align: center;
    width: 300px;
    padding: 10px 0;
    display: block;
}

li:hover .dropdown li {
    background-color: rgb(181, 181, 181);
}

nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown{
    display:none;
    width: 100%;
}      

nav li:hover .dropdown{ /* Descendent order/hierarchy (the dropdown class within the li class within the nav */
    display:block;
}

.searchPrograms {
    position: absolute;                     
    left: 50%;                  
    transform: translate(-50%); 
    width: 80%;            
    max-width: 1000px;         
    padding: 20px;           
}


@media(min-width:768px){

    .topList {
        display:flex;
        max-width:1000px;
    }

    .programNav ul li{
        width:100;
        position:relative;
    }

}

/* desktop */
@media (min-width:768px){
    #topMenu{
        display: flex;
    }

    #topMenu ul{
        display: flex;
    }

    #topMenu li{
        margin-right: 1em; 
        border:none;
    }

    .show-menu{
        display:none;
    }

    
}

main.home{
    display:grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1em;
}

/* banner */

.banner{

}